<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="body">
  <header class="header">
    <div class="header__contenido contenedor-80">
      <div class="header__logo">
        <img src="" alt="Aqui va el logo">
      </div>
      <nav class="header__nav">
        <a class="nav__a" href="">Inicio</a>
        <a class="nav__a" href="">Nosotros</a>
        <a class="nav__a" href="">Contacto</a>
        <a class="nav__a" href="">Soporte</a>
      </nav>
    </div>
  </header>


  <main class="main contenedor-80">
    <section class="section">
      <div class="section__buscador">
        <div class="buscador__entrada">
          <label for="inputBuscar" class="entrada__etiqueta">Quiero encontrar: </label>
          <input  class="entrada_texto" type="text" id="inputBuscar" placeholder="¿Que quieres buscar?">
        </div>
        <div class="buscador__boton">
          <input class="entrada_boton" type="button" value="Buscar">
        </div>

      </div>
    </section>

  </main>



  <footer class="footer">

  </footer>
  <script src="../js/app.js"></script>
</body>

</html>