html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem = 10px*/
  }
*, *:before, *:after {
    box-sizing: inherit;
}

div,
a,
h1, h2, h3, h4, h5, h6,
p,
section,
aside,
header, 
nav,
body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2.4rem;
}

h5{

    font-size: 2rem;
}

.contenedor-80{
    max-width: 80%;
    margin:0 auto;
}

.header__nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.nav__a{
    font-size: 3.5rem;
    text-decoration: none;
    background-color: black;
    color: white;
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.section__buscador{
    display: flex;
    gap: 2rem;
}